$bgColor = #3B4252;
$darkBgColor = #2E3440;

html, body {
    background-color: $bgColor  
}

.navbar {
    background-color: $bgColor
}

.navbar .links {
    background-color: $bgColor !important
}

.sidebar {
    background-color: $bgColor    
}

.search-box input {
    background-color: $darkBgColor !important    
}

th, td
  border 1px solid #434C5E
  background-color: $darkBgColor

.custom-block
  &.tip
    background-color $darkBgColor
    border-color #A3BE8C
    color $textColor
    a
      color #A3BE8C
    .custom-block-title
      color darken(#A3BE8C, 25%)
  &.warning
    background-color $darkBgColor
    border-color #EBCB8B
    color $textColor
    a
      color #EBCB8B
    .custom-block-title
      color darken(#EBCB8B, 25%)
  &.danger
    background-color $darkBgColor
    border-color #BF616A
    color $textColor
    a
      color #BF616A
    .custom-block-title
      color darken(#BF616A, 25%)

